* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 900px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 595px, 300px;
    gap: 5px;
}

.container > div {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jean {
    grid-column: 1/3;
    grid-row: 1/2;
}

.ryoko {
    grid-column: 3/5;
    grid-row: 1/2;
}

@media (max-width: 568px) {
    .container {
        width: auto;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "jean"
        "ryoko"
        "michel"
        "carole"
        "yoshi"
        "christian"
        ;
    }

    .jean {
        grid-area: jean;
    }

    .ryoko {
        grid-area: ryoko;
    }

    .michel {
        grid-area: michel;
    }

    .carole {
        grid-area: carole;
    }

    .yoshi {
        grid-area: yoshi;
    }

    .christian {
        grid-area: christian;
    }

}